.setDivBeforeCompare {
  background-color: #ffffff;
  width: 1160px;
  min-width: 540px;
  min-height: 480px;
  padding: 10px;
  margin-top: 50px;
  margin-left: 250px;
  margin-right: 250px;
  margin-bottom: 50px;
  border-radius: 35px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);

}

.setDivTable {
  background-color: #ffffff;
  width: 1160px;
  padding: 25px;
  margin-top: 50px;
  margin-left: 250px;
  margin-right: 250px;
  margin-bottom: 50px;
  padding-bottom: 40px;
  border-radius: 35px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.setCompareCell {
  width: 360px;
  text-align: right;
}

.setCompareBar {
  display: flex;
  margin-left: 250px;
  margin-top: 150px;
  width: 1160px;
}

.setCompareTable {
  width: 1080px;
}

.setCompareTable th,
.setCompareTable td {
  border-bottom: 1px solid #d9d9d9;
  padding: 10px;
}
/* Alternating row colors */
.setCompareTable tr:nth-child(odd) {
  background-color: white;
}

.setCompareTable tr:hover {
  background-color: white;
  transform: scale(1);
  box-shadow: 0px 0px 5px #969696, 0px 0px 5px #ffffff;
}

.setCompareTable tr:nth-child(even) {
  background-color: #f2f2f2; /* Light gray */
}

.inputBox {
  border: none;
  outline: none;
  height: 45px;
  width: 300px;
  border-radius: 30px;
  padding: 1em;
  background-color: #ccc;
  box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
  transition: 300ms ease-in-out;
}

.inputBox:focus {
  background-color: white;
  transform: scale(1.05);
  box-shadow: 0px 0px 5px #969696, 0px 0px 5px #ffffff;
}

.inputBox:not(:placeholder-shown) {
  background-color: white;
  transform: scale(1.05);
  box-shadow: 0px 0px 5px #969696, 0px 0px 5px #ffffff;
}

.compareBtn {
  color: #090909;
  font-size: 18px;
  border-radius: 1em;
  background: #2e3e8b;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 0px 0px 12px #c5c5c5, -6px -6px 12px #ffffff;
  color: white;
  font-weight: bold;
}

.compareBtn:hover {
  background-color: white;
  color: #2e3e8b;
}

.compareBtn:active {
  color: #2e3e8b;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
  border: none;
}
