.setNavLoginBtn {
  font-size: 18px;
  transition: all 0.3s;
  border-radius: 20px;
  border-color: none;
  cursor: pointer;
  color: black;
}

.setNavLoginBtn:active {
  background: #ffffff;
  box-shadow: inset 5px 5px 10px #e6e6e6, inset -5px -5px 10px #ffffff;
}
