.table {
  background-color: gray;
  width: 1160px;
}

.setTable {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
  text-align: center;
}

.headerColumn {
  color: White;
  /* background-color: #12216B; */
  background-color: #2e3e8b;
  height: 50px;
}

.bodyColumn {
  background-color: #ececec;
  /* height: 40px; */
}

.celltextalignleft {
  text-align: left;
}

.setFilter {
  display: flex;
  margin-left: 100px;
  margin-top: 150px;
  width: 1280px;
}

.toComparing {
  font-weight: bold;
  background-color: #2e3e8b;
  border-color: transparent;
  --bs-btn-border-color: transparent;
  --bs-btn-hover-color: black;
  --bs-btn-hover-bg: #d9d9d9;
  color: white;
  width: 100px;
  height: 45px;
  border-radius: 100px;
}

a {
  text-decoration: none;
  color: black;
}

.active-sort {
  background-color: #12216b !important; /* Highlight color */
  color: white !important; /* Text color for better contrast */
  font-weight: bold;
}

.bodyColumn:hover {
  background-color: #dfdfdf; /* Light blue hover effect */
  transition: background-color 0.2s ease-in-out;
}
