.table {
  min-height: 525px;
}

.setTable {
  text-align: center;
}

.headerColumn {
  color: White;
  background-color: #2e3e8b;
  height: 50px;
}

.bodyColumn {
  background-color: #ffffff;
  font-size: 14px;
}

.celltextalignleft {
  text-align: left;
}

.setFilter {
  margin-top: 50px;
}

.toComparing {
  font-weight: bold;
  background-color: #2e3e8b;
  border-color: transparent;
  --bs-btn-border-color: transparent;
  --bs-btn-hover-color: black;
  --bs-btn-hover-bg: #d9d9d9;
  color: white;
  width: 100px;
  height: 45px;
  border-radius: 100px;
}

a {
  text-decoration: none;
  color: black;
}

.active-sort {
  background-color: #12216b;
  color: white;
  font-weight: bold;
}

.bodyColumn:hover {
  background-color: white;
  transform: scale(1);
  box-shadow: 0px 0px 10px #969696,
             0px 0px 10px #ffffff;
}

th .arrows {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  line-height: 11px; /* Reduce space between arrows */
}

th .arrow {
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;
  font-size: 10px;
}

th.sorted .arrow.active {
  opacity: 1;
}

.mainBgColor {
  background-color: #ffffff;
  padding: 10px;
  width: 1320px;
  margin-top: 50px;
  margin-bottom: 20px;
  border-radius: 35px;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
}
.setSelectPageBtn {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.setSelectPageBtn button {
  border: 1px solid #2e3e8b;
  border-radius: 30px;
  background-color: white;
  padding: 6px 15px;
  margin: 2px;
  cursor: pointer;
}

.setSelectPageBtn button.active {
  background-color: #2e3e8b;
  color: white;
  font-weight: bold;
}

.setSelectPageBtn button:disabled {
  cursor: not-allowed;
  color: #dfdfdf;
  opacity: 0.1;
}

.searchSymbol{
  border: none;
  outline: none;
  height: 45px;
  width: 180px;
  border-radius: 30px;
  padding: 1em;
  background-color: #ccc;
  box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
  transition: 300ms ease-in-out;
}

.searchSymbol:focus {
  background-color: white;
  transform: scale(1.05);
  box-shadow: 0px 0px 10px #969696, 0px 0px 10px #ffffff;
}