<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IPO Update</title>
  </head>

  <body
    style="
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    "
  >
    <h1>IPO Update</h1>
    <div>Hello {Name}!</div>
    <br />
    Here are some recently IPO companies

    <table
      style="
        border-collapse: collapse;
        margin-top: 1rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        width: 100%;
      "
    >
      <thead>
        <tr
          class="tableHeader"
          style="
            background-color: #2e3e8b;
            border-bottom: 1px solid #dddddd;
            color: white;
          "
        >
          <th style = "width: 40%; padding: 0.7rem">Company</th>
          <th>Symbol</th>
          <th>Industry</th>
          <th>Offer Date</th>
          <th>Shares (Millions)</th>
          <th>Offer Price</th>
          <th>1st Day Close</th>
          <th>Current Price</th>
          <th>Return</th>
        </tr>
      </thead>
    </table>

    Info provided by IPOScoop.com
  </body>
</html>
